.navbar{
	background-color: #f4511e;
	border-radius: 0;
	color: #fff;
}

.navbar-nav li a:hover{
	color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
