.navbar{
	background-color: #f4511e;
	border-radius: 0;
	color: #FFF;
}
nav, .navbar-brand{
	color: #FFF;
}

.nav, .navbar-header{
	color: #FFF !important;
	border-color: #FFF;
}

.navbar-nav li a, .nav li a{
	color: #FFF;
}

.navbar-nav li a:hover{
	color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-toggle {
    border-color: transparent;
    color: #FFF !important;
}

.navbar-toggle span{
	color: #FFF;
}


@media screen and (max-width: 780px) {
	#search-bar{
	  display: none;
	}
}
