.navbar{
	background-color: #f4511e;
	border-radius: 0;
	color: #FFF;
}

.nav, .navbar-header, {
	color: #FFF;
	border-color: #FFF;
}

.navbar-nav li a, .nav li a{
	color: #FFF;
}

.navbar-nav li a:hover{
	color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
