.jumbotron{
	color: #fff;
	background-color: #f4511e;
	padding: 100px 25px;
}

#myCarousel{
	height: 300px;
}

.home-cons{
	padding: 60px 50px;
	position: relative;
	clear: both;
}

#our-promise{
	background-color: #f6f6f6;
}

.logo {
    color: #f4511e;
    font-size: 200px;
  }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }